@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800&display=swap');

:root {
    --primary: #F13F3F;
    --secondary: #DB9D47;
    --black: #090809;
    --tertiary: #43AA8B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

html {
    font-size: 62.5%;
}

.container {
    margin: 0 auto;
    width: 1170px;
}

/**************** 
Home - header
******************/
.home {
    background: url('../images/bg-home.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

.header {
    padding: 5rem 0;
}

.header nav {
    display: flex;
    justify-content: center;
}

.header .menu {
    display: flex;
    list-style: none;
    align-items: center;
}

.header .menu li {
    /* margin: 0 1rem; */
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .menu li a {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    padding: 2rem;
    display: inline-block;
    transition: .2s all;
}

.header .menu li a:hover {
    border-bottom: 1px solid var(--primary);
    transform: scale(1.1);
    color: var(--primary);
}

.logo {
    margin: 0 3rem;
    filter: brightness(100);
}

/**************** 
Home - banner
******************/
/* Conteúdo da section home */
.home .banner {
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    height: 50vh;
}


.home .banner h1 {
    font-size: 8rem;
    font-weight: 700;
    text-transform: uppercase;
}

.home .banner p:first-of-type {
    display: block;
    color: var(--primary);
    font-size: 2.4rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.home .banner p {
    font-size: 2.2rem;
    color: var(--secondary);
    text-transform: uppercase;
}

.home .banner img {
    width: 50px;
    filter: brightness(100);
}

/**************** 
About - seção sobre
******************/
.about {
    height: 100vh;
    background-color: var(--primary);
}

.about .container {
    display: flex;
}

.about .timing {
    width: 33%;
    background-image: url('../images/brush-big.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 3rem;
}

.about .timing .overlay {
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    padding: 3rem 2rem;
}

.about .timing .overlay .scissor {
    filter: brightness(100);
    width: 50px;
}

.about .timing .overlay h3 {
    font-size: 3rem;
    text-transform: uppercase;
    color: #F13F3F;
    border-bottom: 3px solid var(--primary);
    width: fit-content;
    margin: 0 auto 3rem auto;
}

.about .timing .text {
    margin: 1rem 0;
}

.about .timing .text:after {
    content: "•";
    display: block;
    color: #F13F3F;
    font-size: 2rem;
    margin-top: 1rem;
}

.about .timing .text:last-of-type:after {
    content: '|';
}

.about .timing .text h4 {
    color: rgb(248, 248, 248);
    font-weight: 500;
    font-size: 1.6rem;
}

.about .timing .text p {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 400;
}

.about .experience {
    width: 66%;
}

.about .timing p {
    display: block;
    color: #fff;
    font-size: 1.4rem;
}

.about .timing .overlay img {
    width: 20px;
    filter: brightness(100);
}